<div class="container">
  <div class="py-5 text-center">
    <h2>Cadastro de Entrevista Colaborador</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form class="needs-validation" novalidate>

        <div class="row">

          <div class="col-md-2 mb-3">
            <label>Data da Entrevista</label>
            <div class="input-group date" id="dpdtentrevista">
              <input type="text" class="form-control" name="dtentrevista" id="dtentrevista" value="" maxlength="10"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Aparência</label>
            <select class="combobox form-control" name="aparencia" id="aparencia">
              <option value="0" selected="selected">Selecione</option>
              <option value="B">B</option>
              <option value="N">N</option>
              <option value="R">R</option>
            </select>
          </div>

          <div class="col-md-2 mb-3">
            <label>Postura</label>
            <select class="combobox form-control" name="postura" id="postura">
              <option value="0" selected="selected">Selecione</option>
              <option value="B">B</option>
              <option value="N">N</option>
              <option value="R">R</option>
            </select>
          </div>

          <div class="col-md-2 mb-3">
            <label>Interesse</label>
            <select class="combobox form-control" name="interesse" id="interesse">
              <option value="0" selected="selected">Selecione</option>
              <option value="B">B</option>
              <option value="N">N</option>
              <option value="R">R</option>
            </select>
          </div>

          <div class="col-md-2 mb-3">
            <label>Potencial</label>
            <select class="combobox form-control" name="potencial" id="potencial">
              <option value="0" selected="selected">Selecione</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
              <option value="F">F</option>
            </select>
          </div>


          <div class="col-md-12">
            <h6>Conhecimento Técnico</h6>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico1" id="conhecTecnico1" value="" />Demência / Alzheimer</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico2" id="conhecTecnico2" value="" />Alzheimer Agressivo</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico3" id="conhecTecnico3" value="" />Parkinson</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico4" id="conhecTecnico4" value="" />Cadeirante</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico5" id="conhecTecnico5" value="" />Assistido  Grande / Gordo</label><br/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico6" id="conhecTecnico6" value="" />Acamado</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico7" id="conhecTecnico7" value="" />Necessidade de Transferência</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico8" id="conhecTecnico8" value="" />Troca de Fralda</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico9" id="conhecTecnico9" value="" />Banho na Cama</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico10" id="conhecTecnico10" value="" />Banho Cadeira de Banho</label><br/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico11" id="conhecTecnico11" value="" />Dextro</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico12" id="conhecTecnico12" value="" />Aplicação de Insulina Caneta</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico13" id="conhecTecnico13" value="" />Aplicação de Insulina Seringa</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico14" id="conhecTecnico14" value="" />PA aparelho</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico15" id="conhecTecnico15" value="" />PA digital</label><br/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-check">
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico16" id="conhecTecnico16" value="" />SNE / GTT</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico17" id="conhecTecnico17" value="" />Colostomia</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico18" id="conhecTecnico18" value="" />Sonda Vesical Alivio / Demora</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico19" id="conhecTecnico19" value="" />Oxigênio / Cpap / Bipap</label><br/>
              <label><input class="form-check-input" type="checkbox" name="conhecTecnico20" id="conhecTecnico20" value="" />Enema</label><br/>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-check">
              <label>
                <input class="form-check-input" type="checkbox" name="conhecTecnico21" id="conhecTecnico21" value="" />Pós-operatório
              </label>
              <br/>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <input type="text" name="conhecTecnico21Descr" id="conhecTecnico21Descr" class="form-control" placeholder="Operação" type="text" maxlength="5"/>
          </div>

          <div class="col-md-12">
            <h6>Disponibilidade</h6>
          </div>

          <div class="col-md-2">
            <div class="form-check mb-2">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Segunda Dia
              </label>
            </div>
            <div class="form-check mb-2">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Segunda Noite
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-check mb-2">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Terça Dia
              </label>
            </div>
            <div class="form-check mb-2">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Terça Noite
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-check mb-2">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Quarta Dia
              </label>
            </div>
            <div class="form-check mb-2">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Quarta Noite
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-check mb-2">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Quinta Dia
              </label>
            </div>
            <div class="form-check mb-2">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Quinta Noite
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-check mb-2">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Sexta Dia
              </label>
            </div>
            <div class="form-check mb-2">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Sexta Noite
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-check mb-2">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Sábado Dia
              </label>
            </div>
            <div class="form-check mb-2">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Sábado Noite
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-check mb-2">
              <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something">Domingo Dia
              </label>
            </div>
            <div class="form-check mb-3">
              <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Domingo Noite
              </label>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <h6>Experiência Anterior</h6>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="check2">
                <input type="radio" class="form-check-input" id="check2" name="option2" value="something">Sim
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="check2">
                <input type="radio" class="form-check-input" id="check2" name="option2" value="something">Não
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="check2">
                <input type="radio" class="form-check-input" id="check2" name="option2" value="something" checked>Não Informado
              </label>
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <label for="comment">Observações</label>
            <textarea class="form-control" rows="5"  name="obs" id="obs" maxlength="500"></textarea>
          </div>

        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
