<div class="container">

  <div *ngIf="carregar">
    <ngx-spinner
      [fullScreen]="true"
      type="ball-clip-rotate-multiple"
      size="medium">
      <p class="loading" style="color: white">Carregando...</p>
    </ngx-spinner>
  </div>

  <div class="py-4 text-center">
    <h2>Consulta de Colaborador</h2>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-11 mb-3">
            <ng-multiselect-dropdown
              [placeholder]="'Selecione o Colaborador'"
              [data]="dropdownList"
              formControlItem="selectedItems"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-1 mb-3">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="colaborador" class="col-md-12 mb-3">
    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nome</th>
            <th scope="col">Situação</th>
            <th scope="col">Foto</th>
            <th scope="col">Rota</th>
            <th scope="col">Idade</th>
            <th scope="col">Escalas</th>
            <th scope="col">Entrev.</th>
            <th scope="col">Cadastro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{colaborador.nome}}</td>
            <td>{{colaborador.situacao}}</td>
            <td>foto</td>
            <td>rota</td>
            <td>{{colaborador.dataNascimento}}</td>
            <td>
              <button class="btn btn-sm btn-primary btn-block" type="submit">Alterar</button>
            </td>
            <td>
              <button class="btn btn-sm btn-primary btn-block" type="submit">Alterar</button>
            </td>
            <td>
              <button [routerLink]="['/colaborador/cadastro', colaborador.id]" class="btn btn-sm btn-primary btn-block" type="submit">Alterar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
