<div class="container">

  <div *ngIf="carregar">
    <ngx-spinner
      [fullScreen]="true"
      type="ball-clip-rotate-multiple"
      size="medium">
      <p class="loading" style="color: white">Carregando...</p>
    </ngx-spinner>
  </div>

  <div class="py-4 text-center">
    <h2>Consulta de Colaborador</h2>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <div class="col d-flex justify-content-center">
          <div class="row">
            <ng-autocomplete
              #auto
              [data]="colaboradores"
              formControlName="colaborador"
              [placeHolder]="placeholder"
              [searchKeyword]="keyword"
              notFoundText="Não encontrado"
              [itemTemplate]="itemTemplateStatic"
              [notFoundTemplate]="notFoundTemplate"
              (selected)="selected()"
              (inputCleared)="inputCleared()"
              [isLoading]="isLoading">
            </ng-autocomplete>

            <ng-template #itemTemplateStatic let-item>
              <div>&nbsp;
                <span [innerHTML]="item.nome"></span> -
                <span>{{item.cpf}}</span>
              </div>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <div class="col-sm-1 mb-3">
              <button type="submit" [disabled]="!colaboradorSelected" class="btn btn-primary">Buscar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="submitted" class="col-md-12 mb-3">
    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nome</th>
            <th scope="col">Situação</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Escalas</th>
            <th scope="col">Cadastro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{form.colaborador.value.nome}}</td>
            <td>{{form.colaborador.value.situacaoDesc}}</td>
            <td>{{form.colaborador.value.dataNascimento | slice:0:10}}</td>
            <td>
              <button class="btn btn-sm btn-primary btn-block" type="submit">Consultar</button>
            </td>
            <td>
              <button [routerLink]="['/colaborador/cadastro', form.colaborador.value.id]" class="btn btn-sm btn-primary btn-block" type="submit">Consultar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
