<div *ngIf="carregar">
  <ngx-spinner
    [fullScreen]="true"
    type="ball-clip-rotate-multiple"
    size="medium">
    <p class="loading" style="color: white"> Aguarde... </p>
  </ngx-spinner>
</div>

<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Excluir Conta</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    <strong>Deseja realmente excluir esta conta
      <span class="text-primary">"{{colaborador.conta}}-{{colaborador.digito}}"</span> ?
    </strong>
  </p>
  <p>
    <span class="text-danger">Esta operação não pode ser revertida.</span>
  </p>
</div>
<div class="modal-footer">
  <p *ngIf="message">
    <ngb-alert [type]="messageType" (close)="close(alert)">{{ message }}</ngb-alert>
  </p>
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
  <button type="button" class="btn btn-danger" (click)="excluir()">Confirmar</button>
</div>
