<div class="container">
  <div class="py-5 text-center">
    <h2>Cadastro de Colaborador</h2>
  </div>


  <div class="row">
    <div class="col-md-12">
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-2 mb-3">
            <label>CPF</label>
            <input class="form-control" name="cpf" id="cpf" value="" maxlength="14" placeholder="Inserir CPF" type="text" onblur="buscarColaborador()"/>
          </div>

          <div class="col-md-2 mb-3">
            <label>RG</label>
            <input class="form-control" name="rg" id="rg" value="" maxlength="20" placeholder="Inserir RG" type="text"/>
          </div>

          <div class="col-md-6 mb-3">
            <label for="nome">Nome</label>
            <input class="form-control" name="nome" id="nome" maxlength="100" placeholder="Inserir Nome" type="text" value="">
          </div>

          <div class="col-md-2 mb-3">
            <label for="lastName">Data de Nascimento</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Estado Civil</label>
            <select class="combobox form-control" name="estcivil" id="estcivil">
              <option value="0">Selecione</option>
              <option value="1">Casado</option>
              <option value="2">Solteiro</option>
              <option value="3">Separado</option>
              <option value="4">Divorciado</option>
              <option value="5">União Estável</option>
              <option value="6">Viúvo</option>
            </select>
          </div>

          <div class="col-md-2 mb-3">
            <label>Sexo</label>
            <select class="combobox form-control" name="sexo" id="sexo">
              <option value="0">Selecione</option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
          </div>

          <div class="col-md-6 mb-3">
            <label>E-mail</label>
            <input type="email" class="form-control" name="email" id="email" value="" maxlength="100" placeholder="Inserir Email" >
          </div>

          <div class="col-md-2 mb-3">
            <label>Situação</label>
            <select class="combobox form-control" name="sitcolab" id="sitcolab">
              <option value="0">Selecione</option>
              <option value="1">Ativo</option>
              <option value="2">Inativo</option>
            </select>
          </div>

          <div class="col-md-2 mb-3">
            <label>Telefone Fixo</label>
            <input type="text" class="form-control" name="tel" id="tel" value="" maxlength="15">
          </div>

          <div class="col-md-2 mb-3">
            <label>Telefone Celular</label>
            <input type="text" class="form-control" name="tel" id="tel" value="" maxlength="15">
          </div>

          <div class="col-md-2 mb-3">
            <label>Vínculo</label>
            <select class="combobox form-control" name="tpvinculo" id="tpvinculo">
              <option value="0" selected="selected">Selecione</option>
              <option value="0">MEI</option>
              <option value="0">Prestação de Serviços</option>
              <option value="0">Cuidador</option>
            </select>
          </div>

          <div class="col-md-2 mb-3">
            <label>Função</label>
            <select class="combobox form-control" name="funcao" id="funcao">
              <option value="0" selected="selected">Selecione</option>
            </select>
          </div>

          <div class="col-md-2 mb-3">
            <label>Forma de Pagamento</label>
            <select class="combobox form-control" name="funcao" id="funcao">
              <option value="0" selected="selected">Selecione</option>
              <option value="0">Plantão</option>
              <option value="0">Mensal</option>
            </select>
          </div>

          <div class="col-md-7 mb-3">
            <label>Busca de Logradouro no Google</label>
            <input id="autocomplete" class="form-control" placeholder="Digite o Endereço ou CEP" onFocus="geolocate()" type="text" size="100"/>
          </div>

          <div class="col-md-5 mb-3">
            <label>Coordenadas</label>
            <div class="input-group">
              <input class="form-control" type="text" name="coordenadas" id="coordenadas" value="" readonly/>
              <input class="form-control" type="hidden" name="latitude" id="latitude" value=""/>
              <input class="form-control" type="hidden" name="longitude" id="longitude" value=""/>
              <div class="input-group-append">
                <button class="btn btn-outline-info" type="button" id="button-addon2">Mapa <span class="glyphicon glyphicon-map-marker text-danger"></span></button>
              </div>
            </div>
          </div>

          <div class="col-md-7 mb-3">
            <label>Endereço</label>
            <input class="form-control" type="text" name="endereco" id="route" value="" maxlength="100"/>
          </div>

          <div class="col-md-2 mb-3">
            <label>Número</label>
            <input class="form-control" type="text" name="numero" id="street_number" value="" maxlength="6"/>
          </div>

          <div class="col-mb-3 mb-3">
            <label>Complemento</label>
            <input class="form-control" type="text" name="compl" id="compl" value="" placeholder="Inserir Complemento" type="text" maxlength="50">
          </div>

          <div class="col-md-5 mb-3">
            <label>Município</label>
            <input class="form-control" type="text" name="municipio" id="locality" value="" maxlength="100"/>
          </div>

          <div class="col-md-4 mb-3">
            <label>Estado</label>
            <input class="form-control" type="text" name="estado" id="administrative_area_level_1" value="" maxlength="50"/>
          </div>

          <div class="col-mb-3 mb-3">
            <label>CEP</label>
            <input class="form-control" type="text" name="cep" id="postal_code" value="" maxlength="9"/>
          </div>


          <div class="col-md-5 mb-3">
            <label>País</label>
            <input class="form-control" type="text" name="pais" id="country" value="" maxlength="50"/>
          </div>
          <div class="col-sm-7">

          </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
