<div class="container">
  <div class="py-5 text-center">
    <h2>Cadastro de Colaborador</h2>
  </div>


  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-2 mb-3">
            <label>CPF</label>
            <input formControlName="cpf" [textMask]="{mask: maskCPF}" class="form-control" name="cpf" id="cpf" value="" type="text"/>
            <div *ngIf="submitted && form.cpf.errors?.required" class="invalid-feedback" style="display:block">
              CPF inválido.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>RG</label>
            <input formControlName="rg" class="form-control" name="rg" id="rg" value="" maxlength="20" type="text"/>
            <div *ngIf="submitted && form.rg.errors?.required" class="invalid-feedback" style="display:block">
              RG é obrigatório.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="nome">Nome</label>
            <input formControlName="nome" class="form-control" name="nome" id="nome" maxlength="100" type="text" value=""/>
            <div *ngIf="submitted && form.nome.errors?.required" class="invalid-feedback" style="display:block">
              Nome é obrigatório.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label for="lastName">Data de Nascimento</label>
            <input  formControlName="dataNascimento" type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div *ngIf="submitted && form.dataNascimento.errors?.required" class="invalid-feedback" style="display:block">
              Data Nascimento é obrigatório.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Estado Civil</label>
            <select formControlName="estadoCivil" class="combobox form-control" name="estcivil" id="estcivil">
              <option value="0" [selected]="true">Selecione</option>
              <option value="1">Casado</option>
              <option value="2">Solteiro</option>
              <option value="3">Separado</option>
              <option value="4">Divorciado</option>
              <option value="5">União Estável</option>
              <option value="6">Viúvo</option>
            </select>
            <div *ngIf="submitted && form.estadoCivil.errors?.required" class="invalid-feedback" style="display:block">
              Estado Civil é obrigatório.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Sexo</label>
            <select  formControlName="sexo" class="combobox form-control" name="sexo" id="sexo">
              <option value="0" [selected]="true">Selecione</option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
            <div *ngIf="submitted && form.sexo.errors?.required" class="invalid-feedback" style="display:block">
              Sexo é obrigatório.
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label>E-mail</label>
            <input formControlName="email" type="email" class="form-control" name="email" id="email" value="" maxlength="100"/>
            <div *ngIf="submitted && form.email.errors?.required" class="invalid-feedback" style="display:block">
              E-mail é obrigatório.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Situação</label>
            <select  formControlName="situacao" class="combobox form-control" name="sitcolab" id="sitcolab">
              <option value="1" [selected]="true">Ativo</option>
              <option value="2">Inativo</option>
            </select>
            <div *ngIf="submitted && form.situacao.errors?.required" class="invalid-feedback" style="display:block">
              Situação é obrigatório.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Telefone Fixo</label>
            <input formControlName="telFixo" [textMask]="{mask: maskTel}" type="text" class="form-control" name="tel" id="tel" value=""/>
            <div *ngIf="submitted && form.telFixo.errors" class="invalid-feedback" style="display:block">
              Telefone Fixo inválido.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Telefone Celular</label>
            <input formControlName="telCel" [textMask]="{mask: maskCel}" type="text" class="form-control" name="tel" id="tel" value="" maxlength="15"/>
            <div *ngIf="submitted && form.telCel.errors?.required" class="invalid-feedback" style="display:block">
              Telefone Celular é obrigatório.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Vínculo</label>
            <select formControlName="vinculo" class="combobox form-control" name="tpvinculo" id="tpvinculo">
              <option value="0" [selected]="true">Selecione</option>
              <option value="1">MEI</option>
              <option value="2">Prestação de Serviços</option>
              <option value="3">Cuidador</option>
            </select>
            <div *ngIf="submitted && form.vinculo.errors?.required" class="invalid-feedback" style="display:block">
              Vínculo é obrigatório.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Função</label>
            <select formControlName="funcao" class="combobox form-control" name="funcao" id="funcao">
              <option value="0" [selected]="true">Selecione</option>
              <option value="1">Assistente</option>
              <option value="2">Cuidador</option>
            </select>
            <div *ngIf="submitted && form.funcao.errors?.required" class="invalid-feedback" style="display:block">
              Função é obrigatório.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Forma de Pagamento</label>
            <select formControlName="formaPagamento" class="combobox form-control" name="funcao" id="funcao">
              <option value="0" [selected]="true">Selecione</option>
              <option value="1">Plantão</option>
              <option value="2">Mensal</option>
            </select>
            <div *ngIf="submitted && form.formaPagamento.errors?.required" class="invalid-feedback" style="display:block">
              Forma Pagamento é obrigatório.
            </div>
          </div>

          <!-- <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent> -->

          <div class="col-md-7 mb-3">
            <label>Busca de Logradouro no Google</label>
            <!-- <input #addresstext id="autocomplete" class="form-control" placeholder="Digite o Endereço ou CEP" onFocus="geolocate()" type="text" size="100"/> -->
            <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" class="form-control" placeholder="Digite o Endereço ou CEP" size="100"/>
          </div>

          <div class="col-md-5 mb-3">
            <label>Coordenadas</label>
            <div class="input-group">
              <input formControlName="coordenadas" class="form-control" type="text" name="coordenadas" id="coordenadas" value="" readonly/>
              <div class="input-group-append">
                <button (click)="abrirMapa()" class="btn btn-outline-info" type="button" id="button-addon2">Mapa <span class="glyphicon glyphicon-map-marker text-danger"></span></button>
              </div>
            </div>
          </div>

          <div class="col-md-7 mb-3">
            <label>Endereço</label>
            <input formControlName="endereco" class="form-control" type="text" name="endereco" id="route" value="" maxlength="100"/>
            <div *ngIf="submitted && form.endereco.errors?.required" class="invalid-feedback" style="display:block">
              Endereço é obrigatório.
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <label>Número</label>
            <input formControlName="numero" class="form-control" type="text" name="numero" id="street_number" value="" maxlength="6"/>
            <div *ngIf="submitted && form.numero.errors?.required" class="invalid-feedback" style="display:block">
              Número é obrigatório.
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label>Complemento</label>
            <input formControlName="complemento" class="form-control" type="text" name="compl" id="compl" value="" maxlength="50">
          </div>

          <div class="col-md-5 mb-3">
            <label>Município</label>
            <input formControlName="municipio" class="form-control" type="text" name="municipio" id="locality" value="" maxlength="100"/>
            <div *ngIf="submitted && form.municipio.errors?.required" class="invalid-feedback" style="display:block">
              Município é obrigatório.
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label>Estado</label>
            <input formControlName="estado" class="form-control" type="text" name="estado" id="administrative_area_level_1" value="" maxlength="50"/>
            <div *ngIf="submitted && form.estado.errors?.required" class="invalid-feedback" style="display:block">
              Estado é obrigatório.
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label>CEP</label>
            <input formControlName="cep" [textMask]="{mask: maskCEP}" class="form-control" type="text" name="cep" id="postal_code" value="" maxlength="10"/>
            <div *ngIf="submitted && form.cep.errors?.required" class="invalid-feedback" style="display:block">
              CEP é obrigatório.
            </div>
          </div>


          <div class="col-md-5 mb-3">
            <label>País</label>
            <input formControlName="pais" class="form-control" type="text" name="pais" id="country" value="" maxlength="50"/>
            <div *ngIf="submitted && form.pais.errors?.required" class="invalid-feedback" style="display:block">
              País é obrigatório.
            </div>
          </div>

          <div class="col-sm-7">

          </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
