<div class="container">

  <div *ngIf="carregar">
    <ngx-spinner
      [fullScreen]="true"
      type="ball-clip-rotate-multiple"
      size="medium">
      <p class="loading" style="color: white">Carregando...</p>
    </ngx-spinner>
  </div>

  <div class="py-4 text-center">
    <h2>Consulta de Usuário</h2>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <div class="col d-flex justify-content-center">
          <div class="row">
            <ng-autocomplete
              #auto
              [data]="users"
              formControlName="user"
              [placeHolder]="placeholder"
              [searchKeyword]="keyword"
              notFoundText="Não encontrado"
              [itemTemplate]="itemTemplateStatic"
              [notFoundTemplate]="notFoundTemplate"
              (selected)="selected()"
              (inputCleared)="inputCleared()"
              [isLoading]="isLoading">
            </ng-autocomplete>

            <ng-template #itemTemplateStatic let-item>
              <div>&nbsp;
                <span [innerHTML]="item.nome"></span> -
                <span>{{item.email}}</span>
              </div>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

          </div>
        </div>
      </form>
    </div>
  </div>

  <p *ngIf="message">
    <ngb-alert [type]="messageType" (close)="close(alert)">{{ message }}</ngb-alert>
  </p>

  <div *ngIf="userSelected" class="col-md-12 mb-3">
    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Situação</th>
            <th scope="col">Cadastro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{form.user.value.nome}}</td>
            <td>{{form.user.value.email}}</td>
            <td>
              <span *ngIf="form.user.value.idSituacao == 1" class="badge badge-success rounded">{{form.user.value.descSituacao}}</span>
              <span *ngIf="form.user.value.idSituacao == 2" class="badge badge-danger rounded">{{form.user.value.descSituacao}}</span>
            </td>
            <td>
              <button [routerLink]="['/usuario/cadastro', form.user.value.idUser]" class="btn btn-sm btn-primary btn-block" type="submit">Alterar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
