<div class="container">

  <div *ngIf="carregar">
    <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
      <p class="loading" style="color: white">Carregando...</p>
    </ngx-spinner>
  </div>

  <div class="py-4 text-center">
    <h2>Consulta de Cliente</h2>
  </div>

  <div class="row mb-4">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-11 mb-3">
            <ng-multiselect-dropdown [placeholder]="'Selecione o Colaborador'" [data]="dropdownList" formControlItem="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-1 mb-3">
            <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-12 mb-3">
    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Tel</th>
            <th scope="col">Cel</th>
            <th scope="col">Idade</th>
            <th scope="col">Cadastro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of listCliente; let seq = index">
            <!-- <tr> -->
            <td>1</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.telFixo}}</td>
            <td>{{cliente.telCel}}</td>
            <td></td>
            <td>
              <button [routerLink]="['/cliente/cadastro', cliente.idCliente]" class="btn btn-sm btn-primary btn-block" type="submit">Alterar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
